 body{background-image:url("img/bg.jpeg")}
           h1{color:black;
              text-align:center}
           p{color:black; 
             background:white;
             text-indent:32px;
             font-size:16px;
             line-high:32px}
           a{color:yellow;
             background:black;}
           img{position:absolute;
               left:50%;
               margin-left:-181px}
